---
import { projectData } from './projectData';
import { Modal, ModalBody, ModalFooter } from 'free-astro-components'
import Icon from './Icon.astro';

---

{projectData.map((project) => (
    <div class="card">
        <a 
            href="javascript:void(0)"
            class="card__link"
            data-modal-trigger={project.id}
        >
            <div class="card__body">
            <span class={`card__state -${project.state}`}>{project.state === 'finished' ? 'Finished' : 'In develop'}</span>
            <h3 class="card__title">{project.title}</h3>
            <ul class="card__tagList">
                {project.tags.map(tag => (
                <li>
                    <Icon icon={tag as keyof typeof import('./IconPath').iconPaths} size="1.2em" />
                    {tag}
                </li>
                ))}
            </ul>
            </div>
            <div class="card__thumb">
            <img src={project.image.src} srcset={project.image.srcset} alt="" />
            </div>
        </a>
    
        <Modal id={project.id} class="modal">
            <ModalBody>
            <div class="modal__img">
                <img src={project.image.src} srcset={project.image.srcset} alt="" />
            </div>
            <h4 class="modal__title">{project.title}</h4>
            <p class="modal__text">{project.description}</p>
            <ul class="card__tagList">
                {project.tags.map(tag => (
                <li>
                    <Icon icon={tag as keyof typeof import('./IconPath').iconPaths} size="1.2em" />
                    {tag}
                </li>
                ))}
            </ul>
            </ModalBody>
            {project.links.length > 0 && (
            <ModalFooter>
                <div class="modal__linkList">
                {project.links.map(link => (
                    <a href={link.href} target="_blank" rel="noopener noreferrer">
                    <Icon icon={link.icon as keyof typeof import('./IconPath').iconPaths} size="1.5em" />
                    </a>
                ))}
                </div>
            </ModalFooter>
            )}
        </Modal>
    </div>
))}

<style lang="scss">
    @use '../styles/common/vars.scss' as *;  
	@use '../styles/common/mixin.scss' as *;


    .card {
        position: relative;
        z-index: 1;
        @include mq-pc {
            width: calc((100% - var(--space-80)) /2);
        }
        @include mq-sp {
            width: 100%;
        }
    }
    .card__link {
        height: 100%;
        background-color: #fff;
        display: block;
        overflow: hidden;
        border-radius: 2rem;
        border: 2px solid var(--main);
        display: flex;
        flex-direction: column;
        box-shadow: 4px 4px 0px 0px var(--main);
        -webkit-box-shadow: 4px 4px 0px 0px var(--main);
        -moz-box-shadow: 4px 4px 0px 0px var(--main);
        @include mq-pc {
            padding: var(--space-24);
        }
        @include mq-sp {
            padding: var(--space-16);
        }

        @include mq-pc {
            &:hover {
                .card__thumb img {
                    transform: scale(1.05);
                }
            }
        }
    }
    .card__body {
        padding: var(--space-16) var(--space-16) 0;
    }
    .card__state {
        display: flex;
        align-items: center;

        &::before {
            content: "";
            width: .6rem;
            height: .6rem;
            border-radius: 50%;
            margin-right: var(--space-6);
        }
        &.-finished {
            &::before{ background-color: var(--green); }
        }
        &.-develop {
            &::before { background-color: var(--yellow); }
        }
    }
    .card__title {
        font-weight: 500;
        font-size: var(--text-lg);
        margin-top: var(--space-16);
    }
    .card__tagList {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-8);
        margin-top: var(--space-24);

        li {
            color: var(--main);
            line-height: 1;
            font-weight: 500;
            border: 2px solid var(--sub);
            border-radius: 2rem;
            // background-color: #ECF5FF;
            background-color: #F8FBFF;
            // background-color: var(--gray);
            padding: var(--space-6) var(--space-16);
            display: flex;
            align-items: center;
            gap: 0 var(--space-6);
            // @include mq-pc {
            //     font-size: var(--text-base);
            // }
        }
    }
    .card__thumb {
        order: -1;
        width: 100%;
        border-radius: 1.5rem;
        overflow: hidden;
        @include mq-pc {
            height: 210px;
        }
        @include mq-sp {
            height: 170px;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .25s;
        }
    }

    /* modal */
	:global(.ac-modal) {
        @include mq-pc {
            margin: auto;
            width: var(--ac-modal-width-2xl) !important;
        }
	}
    :global(.ac-modal-body) {
        @include mq-pc {
            padding:  var(--space-40) var(--space-40) var(--space-8) !important;
        }
        @include mq-sp {
            padding:  var(--space-40) var(--space-24) var(--space-16) !important;
        }
    }
    :global(.ac-modal-body .modal__img) {
        border-radius: 1rem;
        overflow: hidden;
        margin: 0 auto;
        @include mq-pc {
            width: calc(100% - var(--space-80));
        }
        @include mq-sp {
            width: 100%;
        }
    }
    :global(.ac-modal-body .modal__title) {
        font-weight: 600;
        margin-top: var(--space-24);
        @include mq-pc {
            font-size: var(--text-xl);
        }
        @include mq-sp {
            font-size: var(--text-lg);
        }
    }
    :global(.ac-modal-body .modal__text) {
        margin-top: var(--space-16);
    }
    :global(.ac-modal-footer) {
        padding: 0 var(--space-40) var(--space-40) !important;
    }
    :global(.ac-modal-footer .modal__linkList) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include mq-pc {
            gap: 0 var(--space-16);
        }
        @include mq-sp {
            gap: 0 var(--space-24);
        }
    }
</style>